<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<div id="idMainListadoReservasPromesa" style="margin-top: 50pt;">
		<div id="mainDetallePromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 10pt;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div id="divVpTituloDetallePromesa" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
					<font style="font-size: 16pt; font-weight: bold;">Detalle promesa:&nbsp;Proyecto&nbsp;<font id="tituloProyectoAPromesar"></font></font>
				</div>
			</div>
			<div id="divVpDetallePromesa" style="margin-bottom: 0pt; font-size: 12px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="contenedorVPPromesa">
					<div id="divDerechaCrearPromesa" style="padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Fecha reserva:</label>
					    <input disabled id="dpromesa_fechaReserva" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>N° cotización:</label>
					    <input disabled id="dpromesa_numeroCotizacion" class="form-control"></input><!-- Pendiente -->
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>N° operación:</label>
					    <input disabled id="dpromesa_numeroOperacion" class="form-control"></input><!-- Pendiente -->
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Nombre cliente:</label>
					    <input id="reservaNombreCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Apellido cliente:</label>
					    <input id="reservaApellidoCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Rut:</label>
					    <input id="reservaRutCliente" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Celular:</label>
					    <input id="reservaCelularCliente" disabled  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					    <label>Email:</label>
					    <input id="reservaEmailCliente" disabled  class="form-control"></input>
					  </div>
					  <div style="margin-top: 20pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" id="anexoDatosCliente"><i clasS="fa fa-plus-square"></i>&nbsp;&nbsp;Agregar datos de cliente 1</button>
					  </div>
					  <div style="margin-top: 20pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
					    <button disabled style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" id="anexoDatosCliente2"><i clasS="fa fa-plus-square"></i>&nbsp;&nbsp;Agregar datos de cliente 2</button>
					  </div>
					</div>
					<div id="divIzquierdaCrearPromesa" style="padding-left: 0; padding-right: 0;   border-left-style: solid; border-left-width: 1px; border-left-color: #c1c1c1;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Fecha:</label>
					    <input id="promesaFecha" class="form-control"></input>
					  </div>
						<div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Vendedor:</label>
					    <select disabled id="promesaVendedor" class="form-control custom">

							</select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Departamento:</label>
					    <input disabled id="promesaDepartamento" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Tipología:</label>
					    <input disabled id="promesaTipologiaDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Modelo:</label>
					    <input disabled id="promesaModeloDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Orientación:</label>
					    <input disabled id="promesaOrientacionDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bodegas:</label>
					    <input disabled id="promesaCantidadBodegas" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Estacionamientos:</label>
					    <input disabled id="promesaCantidadEstacionamientos" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Utiles:</label>
					    <input disabled id="promesaMT2UtilesDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Terraza:</label>
					    <input disabled id="promesaMT2TerrazaDepto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input disabled id="promesaMT2TotalDepto" class="form-control"></input>
					  </div>
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <hr style="background-color: #c1c1c1; height: 1px;" />
					</div>

					<div id="divIzquierdaCrearPromesa" style="text-align: left; padding-left: 0; padding-right: 0;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Departamento:</label>
					    <input id="promesa_departamentoUF" disabled class="form-control"></input>
					  </div>

					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="dpromesa_departamentoMontoEditable" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bodega:</label>
					    <input id="promesa_bodegaUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="bodegaMonto" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Estacionamiento:</label>
					    <input id="promesa_estacionamientoUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="estacionamientoMonto" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Bono:</label>
					    <input id="promesa_bonoUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="bonoMonto" disabled class="form-control"></input>
					  </div>

					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Desc. sala:</label>
					    <input  id="promesa_desc1UF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="dpromesa_desc1Monto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="dpromesa_desc1Porcentaje" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Desc. especial:</label>
					    <input id="dpromesa_desc2UFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="dpromesa_desc2Monto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input disabled id="dpromesa_desc2Porcentaje" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input id="totalUnoUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="totalUnoMonto" disabled class="form-control"></input>
					  </div>
					</div>
					<div id="divDerechaCrearPromesa" style="text-align: left; margin-top: 5pt;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					  <div id="divBodegasCrearPromesa" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Bodegas:</label>
					    <select multiple="multiple" id="bodegasCrearPromesa" name="bodegasCrearPromesa[]">

					    </select>
					  </div>
					  <div id="divEstacionamientosCrearPromesa" class="col-lg-12 col-md-12	col-sm-12 col-xs-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; margin-bottom: 10pt;">
					    <label style="font-weight: bold;">Estacionamientos:</label>
					    <select multiple="multiple" id="estacionamientosCrearPromesa" name="estacionamientosCrearPromesa[]">

					    </select>
					  </div>
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <hr style="background-color: #c1c1c1; height: 1px;" />
					</div>

					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <font style="font-weight: bold;">Formas de pago</font>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Reserva:</label>


					    <input id="promesa_reservaUF" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Monto $:</label>
					    <input disabled id="promesa_reservaMonto" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0;  padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Porcentaje:</label>
					    <input id="promesa_reservaPorcentaje" disabled  class="form-control"></input>
					  </div>
					</div>

					<!--Campos nuevos -->
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago reserva:</label>
					    <select disabled class="form-control custom" type="text" id="promesa_FormaPagoReserva">
							<option value="1">Cheque</option>
					    	<option value="2">Transferencia</option>
					      	<option value="3">Tarjeta Crédito</option>
					      	<option value="4">Otro</option>
					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input disabled id="promesa_BancoReserva" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input disabled id="promesa_SerieReserva" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input disabled id="promesa_NroReserva" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha cheque:</label>
					    <input disabled id="promesa_FechaChequeReserva" type="text" class="form-control"></input>
					  </div>
					</div>
					<!-- Fin campos nuevos -->

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Pie promesa contado:</label>
					    <input id="promesa_piePromesaUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_piePromesaMontoEditable"  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_piePromesaPorEditable" disabled  class="form-control"></input>
					  </div>
					</div>

					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Forma pago promesa:</label>
					    <select class="form-control custom" type="text" id="promesa_FormaPagoPromesa" >
					      <option value="1">Cheque</option>
					      <option value="2">Transferencia</option>
					      <option value="3">Tarjeta Crédito</option>
					      <option value="4">Otro</option>
					    </select>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Banco:</label>
					    <input id="promesa_BancoPromesa" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Serie/Nro:</label>
					    <input id="promesa_SeriePromesa" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					    <label>Nro Trans/Cheque:</label>
					    <input id="promesa_NroPromesa" type="text" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					    <label>Fecha pago:</label>
					    <input id="promesa_FechaChequePromesa" type="text" class="form-control"></input>
					  </div>
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Pie promesa cuotas:</label>
					    <input id="promesa_pieCuotasUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_pieCuotasMontoEditable"  class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_pieCuotasPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Cuotas:</label>
					    <input disabled style="display: none;" id="totalMontoCuotas"/>
					    <input id="promesa_cuotasEditable" type="number" step="1" min="1" class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0; display: none;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_cuotasUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0; display: none;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_cuotasMontoEditable" disabled class="form-control"></input>
					  </div>
					</div>

					<div id="promesa_cantidadCuotas">

					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Saldo:</label>
					    <input id="promesa_saldoUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_saldoMontoEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_saldoPorEditable" disabled class="form-control"></input>
					  </div>
					</div>
					<div class="col-lg-6 col-md-6 hidden-sm hidden-xs col-lg-offset-6 col-md-offset-6">
					</div>

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label>Total:</label>
					    <input id="promesa_totalUFEditable" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_totalMonto" disabled class="form-control"></input>
					  </div>
					  <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					    <label class="hidden-sm hidden-xs">&nbsp;</label>
					    <input id="promesa_totalPor" disabled class="form-control"></input>
					  </div>
					</div>
					<div style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			      	<hr style="background-color: #c1c1c1; height: 1px;display:none;" id="hrGarantia" />
			    </div>
				<div id="divPromesaArriendo" style="display:none; padding-left: 0; padding-right: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				    <div id="tituloGarantiaPromesaArriendo" style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				      <font style="font-weight: bold;">Garantía de Arriendo</font>
				    </div>
				    <div id="datosGarantiaPromesa" class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				        <label>Valor en UF:</label>
				        <input disabled id="valorUFGarantiaPromesa" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				        <label>Monto $:</label>
				        <input disabled id="valorPesoGarantiaPromesa" class="form-control"></input>
				      </div>
				    </div>
				    <div id="datosDctoGarantiaPromesa" class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				        <label>Forma pago garantía:</label>
				        <select disabled class="form-control custom" type="text" id="garantiaFormaPago">

				        </select>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Banco:</label>
				        <input disabled id="garantiaBanco" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Serie/Nro:</label>
				        <input disabled id="garantiaSerie" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				        <label>Nro Trans/Cheque:</label>
				        <input disabled id="garantiaNro" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Fecha pago:</label>
				        <input disabled id="garantiaFechaCheque" type="text" class="form-control"></input>
				      </div>
				    </div>
				</div>
				<div id="divPromesaVenta" style="display:none; padding-left: 0; padding-right: 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				    <div id="tituloGarantiaPromesaVenta" style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				      <font style="font-weight: bold;">Garantía de Venta</font>
				    </div>
				    <div id="tituloGarantiaPromesaDueno" style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				      <font style="font-weight: bold;">Dueño</font>
				    </div>
				    <div id="datosGarantiaPromesaDueno" class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				        <label>Valor en UF:</label>
				        <input disabled id="valorUFGarantiaPromesaDueno" class="form-control" value="UF 0,00"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				        <label>Monto $:</label>
				        <input disabled id="valorPesoGarantiaPromesaDueno" class="form-control" value="$ 0"></input>
				      </div>
				    </div>
				    <div id="datosDctoGarantiaPromesaDueno" class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				        <label>Forma pago garantía:</label>
				        <select disabled class="form-control custom" type="text" id="garantiaFormaPagoDueno">

				        </select>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Banco:</label>
				        <input disabled id="garantiaBancoDueno" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Serie/Nro:</label>
				        <input disabled id="garantiaSerieDueno" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				        <label>Nro Trans/Cheque:</label>
				        <input disabled id="garantiaNroDueno" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Fecha pago:</label>
				        <input disabled id="garantiaFechaChequeDueno" type="text" class="form-control"></input>
				      </div>
				    </div>
				    <div id="tituloGarantiaPromesaCliente" style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				      <font style="font-weight: bold;">Cliente</font>
				    </div>
				    <div id="datosGarantiaPromesaCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				        <label>Valor en UF:</label>
				        <input disabled id="valorUFGarantiaPromesaCliente" class="form-control" value="UF 0,00"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				        <label>Monto $:</label>
				        <input disabled id="valorPesoGarantiaPromesaCliente" class="form-control" value="$ 0"></input>
				      </div>
				    </div>
				    <div id="datosDctoGarantiaPromesaCliente" class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				        <label>Forma pago garantía:</label>
				        <select disabled class="form-control custom" type="text" id="garantiaFormaPagoCliente">

				        </select>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Banco:</label>
				        <input disabled id="garantiaBancoCliente" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Serie/Nro:</label>
				        <input disabled id="garantiaSerieCliente" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				        <label>Nro Trans/Cheque:</label>
				        <input disabled id="garantiaNroCliente" type="text" class="form-control"></input>
				      </div>
				      <div style="text-align: left; margin-top: 5pt; padding-left: 0; padding-right: 0;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				        <label>Fecha pago:</label>
				        <input disabled id="garantiaFechaChequeCliente" type="text" class="form-control"></input>
				      </div>
				    </div>
				</div>
					<div style="text-align: left; margin-top: 20pt;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  'Precios Montos en pesos $CH a UF <font id="valorUFDia"></font> corresponden como referencia al valor UF al <font id="fechaDia"></font>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divVpRegresarDetallePromesa" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				  <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpRegresarDetallePromesa" id="vpRegresarDetallePromesa"><i clasS="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
				</div>
				<div id="divVpActualizarPromesa" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 30pt;" class="btn btn-primary" name="vpActualizarPromesa" id="vpActualizarPromesa"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Actualizar</button>
				</div>
				<div id="divVpPDFPromesa" style="margin-top: 5pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12" >
				    <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="vpPDFPromesa" id="vpPDFPromesa"><i clasS="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Ficha Promesa</button>
				</div>
			</div>
		</div>
</div>
