<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainCrearUsuario" style="margin-top: 50pt;">
		<div id="mainCrearUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosCrearUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Creación de usuarios</font>
				</div>
			</div>
      <div id="datosDeCrearUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosCrearUsuario" style="text-align: left;">
        <!-- Datos personales -->
        <div id="divRutCrearUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>RUT</label>
          <input class="form-control" type="text" name="rutCrearUsuario" id="rutCrearUsuario"  style="margin-bottom: 5pt;" onblur="Rut();">
        </div>
        <div id="divApellidosCrearUsuario" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Apellidos</label>
					<input class="form-control" type="text" name="apellidosCrearUsuario" id="apellidosCrearUsuario"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNombresCrearUsuario" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Nombres</label>
					<input class="form-control" type="text" name="nombresCrearUsuario" id="nombresCrearUsuario"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEmailCrearUsuario" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>E-Mail</label>
					<input class="form-control" type="text" name="emailCrearUsuario" id="emailCrearUsuario"  style="margin-bottom: 5pt;" onblur="validacionEmail2();">
  			</div>
        <div id="divFonoCrearUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fono</label>
					<input class="form-control" type="text" name="fonoCrearUsuario" id="fonoCrearUsuario"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divPerfilCrearUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Perfil</label>
					<select class="form-control custom" type="text" name="perfilCrearUsuario" id="perfilCrearUsuario"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divPassCrearUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Contraseña</label>
					<input disabled class="form-control" type="password" name="passCrearUsuario" id="passCrearUsuario"  style="margin-bottom: 5pt;" maxlength="15">
  			</div>
			</form>
      </div>
      <!-- Botones -->
      <div id="botonesCrearUsuario" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
        <div id="divGuardarCrearUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="guardarCrearUsuario" id="guardarCrearUsuario"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
        <div id="divLimpiarCrearUsuario" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="limpiarCrearUsuario" id="limpiarCrearUsuario"><i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Limpiar</button>
        </div>
      </div>
		</div>
</div>
