<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoUsuarios tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoUsuarios').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#inputListadoUsuariosEliminar").attr("disabled","disabled");
        $("#inputListadoUsuariosDetalle").attr("disabled","disabled");
        $("#inputListadoUsuariosAsignar").attr("disabled","disabled");
        $("#inputListadoUsuariosResetPass").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#inputListadoUsuariosEliminar").removeAttr("disabled");
        $("#inputListadoUsuariosDetalle").removeAttr("disabled");
        $("#inputListadoUsuariosAsignar").removeAttr("disabled");
        $("#inputListadoUsuariosResetPass").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoUsuarios" style="margin-top: 50pt;">
		<div id="mainListadoUsuarios" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoUsuarios" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de usuarios</font>
      </div>
      <div id="divTablaListadoUsuarios" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoUsuarios" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">E-Mail</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fono</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Perfil</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoUsuarios" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoUsuariosDetalle" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="inputListadoUsuariosDetalle" class="btn btn-primary" disabled>
            <i class="fa fa-home"></i>&nbsp;&nbsp;Detalle
          </button>
        </div>
				<div id="divListadoUsuariosAsignar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<button style="width: 100%; font-size: 9pt;" id="inputListadoUsuariosAsignar" class="btn btn-primary" disabled>
						<i class="fa fa-building"></i>&nbsp;&nbsp;Asignar proyecto
					</button>
				</div>
				<div id="divListadoUsuariosResetPass" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<button style="width: 100%; font-size: 9pt;" id="inputListadoUsuariosResetPass" class="btn btn-primary" disabled>
						<i class="fa fa-expeditedssl"></i>&nbsp;&nbsp;Reset Contraseña
					</button>
				</div>
        <div id="divListadoUsuariosEliminar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<button style="width: 100%; font-size: 9pt;" id="inputListadoUsuariosEliminar" class="btn btn-primary" disabled>
						<i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
					</button>
				</div>
				<div id="divMostrarTodosUsuarios" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 8pt;">
						<label>Mostrar:</label>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<select class="form-control custom" type="text" name="mostrarTodosUsuarios" id="mostrarTodosUsuarios">
	          	<option value="Activos" selected>Activos</option>
							<option value="Bloqueados">Bloqueados</option>
	          </select>
					</div>
        </div>
			</div>
    </div>
</div>
