<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainCrearProyecto" style="margin-top: 50pt;">
		<div id="mainCrearProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Creación de proyectos</font>
				</div>
			</div>
      <div id="datosDeProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosProyectoCrear" style="text-align: left;">
        <!-- Datos Básicos -->
        <div id="divTituloDatosBasicosProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;">
          <font style="font-size: 14pt;">Datos Básicos</font>
        </div>
        <div id="divCodigoProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Código proyecto</label>
					<input class="form-control" type="text" name="codigoProyectoCrear" id="codigoProyectoCrear"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNombreProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Nombre proyecto</label>
  				<input class="form-control" type="text" name="nombreProyectoCrear" id="nombreProyectoCrear"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divInmobiliariaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Inmobiliaria</label>
  				<input class="form-control" type="text" name="inmobiliariaProyectoCrear" id="inmobiliariaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divEmailInmobiliariaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>E-Mail inmobiliaria</label>
  				<input class="form-control" type="text" name="emailInmobiliariaProyectoCrear" id="emailInmobiliariaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divDireccionProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Dirección sala de venta</label>
  				<input class="form-control" type="text" name="direccionProyectoCrear" id="direccionProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divFono1InmobiliariaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fono 1 sala de venta</label>
  				<input class="form-control" type="text" name="fono1InmobiliariaProyectoCrear" id="fono1InmobiliariaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divFono2InmobiliariaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fono 2 sala de venta</label>
  				<input class="form-control" type="text" name="fono2InmobiliariaProyectoCrear" id="fono2InmobiliariaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divFInicioVentaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha inicio venta</label>
  				<input class="form-control" type="text" name="fInicioVentaProyectoCrear" id="fInicioVentaProyectoCrear"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divFFinObraProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha fin obra</label>
  				<input class="form-control" type="text" name="fFinObraProyectoCrear" id="fFinObraProyectoCrear"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divFEntregaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha entrega</label>
  				<input class="form-control" type="text" name="fEntregaProyectoCrear" id="fEntregaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divEmailProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>E-Mail proyecto</label>
  				<input class="form-control" type="text" name="emailProyectoCrear" id="emailProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divWebProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Web proyecto</label>
  				<input class="form-control" type="text" name="webProyectoCrear" id="webProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
				<div  id="divLogoProyectoCrear" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Logo proyecto</label>
					<div class="input-group">
	            <label class="input-group-btn">
	                <span class="btn btn-default btn-file" style="margin-bottom: 5pt; text-align: left; color: grey;">
	                    Examinar... <input type="file" id="logoProyectoCrear" name="logoProyectoCrear" accept="image/png" style="display: none;" multiple>
	                </span>
	            </label>
	            <input id="infoLogoProyectoCrear" type="text" class="form-control" readonly>
	        </div>
				</div>
				<div id="divEstadoProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado</label>
					<select class="form-control custom" type="text" name="estadoProyectoCrear" id="estadoProyectoCrear"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divDiasCotProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Días val. Cotiza</label>
  				<input class="form-control" type="text" name="diasCotProyectoCrear" id="diasCotProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
				<div id="divDiasResProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Días val. Reserva</label>
  				<input class="form-control" type="text" name="diasResProyectoCrear" id="diasResProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
				<div id="divDefaultPiePromesaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Pie promesa</label>
  				<input class="form-control" type="text" name="defaultPiePromemsaProyectoCrear" id="defaultPiePromemsaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
				<div id="divDefaultPieCuotasProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Pie cuotas</label>
  				<input class="form-control" type="text" name="defaultPieCuotasProyectoCrear" id="defaultPieCuotasProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
				<div id="divDefaultTasaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Tasa Hipo.</label>
  				<input class="form-control" type="text" name="defaultTasaProyectoCrear" id="defaultTasaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <!-- Comisiones -->
        <div id="divTituloDatosBasicosProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
          <font style="font-size: 14pt;">Comisiones (%)</font>
        </div>
        <div id="divComisionLVPromesaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión Empresa <br/> Promesa</label>
  				<input class="form-control" type="text" name="comisionLVPromesaProyectoCrear" id="comisionLVPromesaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divComisionLVEscrituraProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión Empresa <br/>Escritura</label>
  				<input class="form-control" type="text" name="comisionLVEscrituraProyectoCrear" id="comisionLVEscrituraProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divComisionVenPromesaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión Vendedor  <br/> Promesa</label>
  				<input class="form-control" type="text" name="comisionVenPromesaProyectoCrear" id="comisionVenPromesaProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divComisionVenEscrituraProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión Vendedor <br/> Escritura</label>
  				<input class="form-control" type="text" name="comisionVenEscrituraProyectoCrear" id="comisionVenEscrituraProyectoCrear" style="margin-bottom: 5pt;">
  			</div>
        <div id="divComisionIVAProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>IVA  <br/> Proyecto</label>
          <input class="form-control" type="text" name="comisionIVAProyectoCrear" id="comisionIVAProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <div id="divEspacioProyectoCrear" style="width: 100%;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          &nbsp;
        </div>
        <div id="divUnidadesSaltoProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>Unidades de salto</label>
          <input class="form-control" type="text" name="unidadesSaltoProyectoCrear" id="unidadesSaltoProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <div id="divEspacioProyectoCrear2" style="width: 100%;" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          &nbsp;
        </div>
        <div id="divComisionLVPromesaProyectoCrear2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>% Comisión Empresa <br/> Promesa</label>
          <input class="form-control" type="text" name="comisionLVPromesaProyectoCrear2" id="comisionLVPromesaProyectoCrear2" style="margin-bottom: 5pt;">
        </div>
        <div id="divComisionLVEscrituraProyectoCrear2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>% Comisión Empresa <br/> Escritura</label>
          <input class="form-control" type="text" name="comisionLVEscrituraProyectoCrear2" id="comisionLVEscrituraProyectoCrear2" style="margin-bottom: 5pt;">
        </div>
        <div id="divComisionVenPromesaProyectoCrear2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>% Comisión Vendedor <br/> Promesa</label>
          <input class="form-control" type="text" name="comisionVenPromesaProyectoCrear2" id="comisionVenPromesaProyectoCrear2" style="margin-bottom: 5pt;">
        </div>
        <div id="divComisionVenEscrituraProyectoCrear2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label>% Comisión Vendedor <br/> Escritura</label>
          <input class="form-control" type="text" name="comisionVenEscrituraProyectoCrear2" id="comisionVenEscrituraProyectoCrear2" style="margin-bottom: 5pt;">
        </div>
        <!-- Bonos y descuentos -->
        <div id="divTituloDatosBasicosProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
          <font style="font-size: 14pt;">Bonos y descuentos</font>
        </div>
        <div id="divDescuentoSala1ProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Descuento sala 1 (%)</label>
          <input class="form-control" type="text" name="descuentoSala1ProyectoCrear" id="descuentoSala1ProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <div id="divInfoDescuento1ProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Info. Descuento 1</label>
          <input class="form-control" type="text" name="infoDescuento1ProyectoCrear" id="infoDescuento1ProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <div id="divDescuentoSala2ProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Descuento sala 2 (%)</label>
          <input class="form-control" type="text" name="descuentoSala2ProyectoCrear" id="descuentoSala2ProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <div id="divInfoDescuento2ProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Info. Descuento 2</label>
          <input class="form-control" type="text" name="infoDescuento2ProyectoCrear" id="infoDescuento2ProyectoCrear" style="margin-bottom: 5pt;">
        </div>
				<div id="divBonoVentaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Bono venta (UF)</label>
          <input class="form-control" type="text" name="bonoVentaProyectoCrear" id="bonoVentaProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <div id="divInfoBonoVentaProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Info. Bono venta</label>
          <input class="form-control" type="text" name="infoBonoVentaProyectoCrear" id="infoBonoVentaProyectoCrear" style="margin-bottom: 5pt;">
        </div>
				<div id="divDescuentoSala3ProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Valor reserva (UF)</label>
          <input class="form-control" type="text" name="descuentoSala3ProyectoCrear" id="descuentoSala3ProyectoCrear" style="margin-bottom: 5pt;">
        </div>
        <!-- Información -->
        <div id="divTituloDatosBasicosProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
          <font style="font-size: 14pt;">Información (máximo por área 2000 carácteres)</font>
        </div>
        <div id="divCotiza1ProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Cotiza 1 (puede ingresar código html)</label>
					<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="cotiza1ProyectoCrear" id="cotiza1ProyectoCrear" maxlength="2000"></textarea>
        </div>
        <div id="divCotiza2ProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Cotiza 2 (puede ingresar código html)</label>
          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="cotiza2ProyectoCrear" id="cotiza2ProyectoCrear"  maxlength="2000"></textarea>
        </div>
        <div id="divCotiza3ProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Cotiza 3 (puede ingresar código html)</label>
          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="cotiza3ProyectoCrear" id="cotiza3ProyectoCrear" maxlength="2000"></textarea>
        </div>
				<div id="divReserva1ProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Reserva 1 (puede ingresar código html)</label>
					<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="reserva1ProyectoCrear" id="reserva1ProyectoCrear" maxlength="2000"></textarea>
        </div>
        <div id="divResrerva2ProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Reserva 2 (puede ingresar código html)</label>
          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="reserva2ProyectoCrear" id="reserva2ProyectoCrear"  maxlength="2000"></textarea>
        </div>
        <div id="divReserva3ProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Reserva 3 (puede ingresar código html)</label>
          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="reserva3ProyectoCrear" id="reserva3ProyectoCrear" maxlength="2000"></textarea>
        </div>
			</form>
      </div>
      <!-- Botones -->
      <div id="botonesProyectoCrear" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
        <div id="divGuardarProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="guardarProyectoCrear" id="guardarProyectoCrear"><i clasS="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
        <div id="divLimpiarProyectoCrear" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="limpiarProyectoCrear" id="limpiarProyectoCrear"><i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Limpiar</button>
        </div>
      </div>
		</div>
</div>
