<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoProyectos tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoProyectos').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#inputListadoProyectosEditar").attr("disabled","disabled");
        $("#inputListadoProyectosEliminar").attr("disabled","disabled");
        $("#inputListadoProyectosDetalle").attr("disabled","disabled");
        $("#inputUnidadesProyectosDetalle").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#inputListadoProyectosEditar").removeAttr("disabled");
        $("#inputListadoProyectosEliminar").removeAttr("disabled");
        $("#inputListadoProyectosDetalle").removeAttr("disabled");
        $("#inputUnidadesProyectosDetalle").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoProyectos" style="margin-top: 50pt;">
		<div id="mainListadoProyectos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoProyectos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de proyectos</font>
      </div>
      <div id="divTablaListadoProyectos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoProyectos" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Codigo</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombre</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Inmobiliaria</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha inicio venta</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha fin obra</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha entrega</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoProyectos" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoProyectosDetalle" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="inputListadoProyectosDetalle" class="btn btn-primary" disabled>
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;Detalle
          </button>
        </div>
        <div id="divUnidadesProyectosDetalle" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="inputUnidadesProyectosDetalle" class="btn btn-primary" disabled>
            <i class="fa fa-home"></i>&nbsp;&nbsp;Unidades
          </button>
        </div>
        <div id="divListadoProyectosEliminar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<button style="width: 100%; font-size: 9pt;" id="inputListadoProyectosEliminar" class="btn btn-primary" disabled>
						<i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
					</button>
				</div>
			</div>
    </div>
</div>
