<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaUnidadesProyecto tbody').on( 'click', 'tr', function () {
		var table = $('#tablaUnidadesProyecto').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
				if(table.rows( '.selected' ).count() > 1){
					$("#detalleUnidadesProyecto").attr("disabled","disabled");
					$("#eliminarUnidadesProyecto").attr("disabled","disabled");
					$("#editValorUnidadesProyecto").removeAttr("disabled");
				}
				else if(table.rows( '.selected' ).count() === 1 ){
					$("#detalleUnidadesProyecto").removeAttr("disabled");
					$("#eliminarUnidadesProyecto").removeAttr("disabled");
					$("#editValorUnidadesProyecto").removeAttr("disabled");
				}
				else{
					$("#detalleUnidadesProyecto").attr("disabled","disabled");
					$("#eliminarUnidadesProyecto").attr("disabled","disabled");
					$("#editValorUnidadesProyecto").attr("disabled","disabled");
				}
		}
		else {
				$(this).addClass('selected');
				if(table.rows( '.selected' ).count() > 1){
					$("#detalleUnidadesProyecto").attr("disabled","disabled");
					$("#eliminarUnidadesProyecto").attr("disabled","disabled");
					$("#editValorUnidadesProyecto").removeAttr("disabled");
				}
				else if(table.rows( '.selected' ).count() === 1 ){
					$("#detalleUnidadesProyecto").removeAttr("disabled");
					$("#eliminarUnidadesProyecto").removeAttr("disabled");
					$("#editValorUnidadesProyecto").removeAttr("disabled");
				}
				else{
					$("#detalleUnidadesProyecto").attr("disabled","disabled");
					$("#eliminarUnidadesProyecto").attr("disabled","disabled");
					$("#editValorUnidadesProyecto").attr("disabled","disabled");
				}
		}
	});
</script>

<div id="idMainUnidadesProyecto" style="margin-top: 50pt;">
		<div id="mainUnidadesProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloUnidadesProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Unidades proyecto: <i id="nombreProyectoUnidadesProyecto"></i></font>
      </div>
      <div id="divTablaUnidadesProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaUnidadesProyecto" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro. Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Piso</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Código Tipo</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Tipo</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Acción</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Tipología</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Orientación</th>
			        <th class="celdaColor" style="border: 1pt solid white;">M2 Util</th>
			        <th class="celdaColor" style="border: 1pt solid white;">M2 Total</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Valor UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado2</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaUnidadesProyecto" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
				<div id="divIngresarUnidadesProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-top: 10pt;" class="btn btn-primary" name="ingresarUnidadesProyecto" id="ingresarUnidadesProyecto"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Agregar</button>
        </div>
				<div id="divDetalleUnidadesProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-top: 10pt;" class="btn btn-primary" name="detalleUnidadesProyecto" id="detalleUnidadesProyecto" disabled><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Detalle</button>
        </div>
				<div id="divEliminarUnidadesProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-top: 10pt;" class="btn btn-primary" name="eliminarUnidadesProyecto" id="eliminarUnidadesProyecto" disabled><i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar</button>
				</div>
				<div id="divEditValorUnidadesProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-top: 10pt;" class="btn btn-primary" name="editValorUnidadesProyecto" id="editValorUnidadesProyecto" disabled><i class="fa fa-money"></i>&nbsp;&nbsp;Cambiar Valor</button>
				</div>
				<div id="divRegresarUnidadesProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-top: 10pt;" class="btn btn-primary" name="regresarUnidadesProyecto" id="regresarUnidadesProyecto"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
        </div>
      </div>
    </div>
</div>
