<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainDetalleCliente" style="margin-top: 50pt;">
		<div id="mainDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Cliente: <i id="tituloDetaleCliente"></i></font>
				</div>
			</div>
      <div id="datosDeDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosDetalleCliente" style="text-align: left;">
        <!-- Datos personales -->
        <div id="divTituloDatosPersonalesDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;">
          <font style="font-size: 14pt;">Datos personales</font>
        </div>
        <div id="divRutDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>RUT</label>
					<input class="form-control" type="text" name="rutDetalleCliente" id="rutDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNombresDetalleCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Nombres</label>
					<input class="form-control" type="text" name="nombresDetalleCliente" id="nombresDetalleCliente"  style="margin-bottom: 5pt;" onblur="validacionNombresDetalleCliente();">
  			</div>
        <div id="divApellidosDetalleCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Apellidos</label>
					<input class="form-control" type="text" name="apellidosDetalleCliente" id="apellidosDetalleCliente"  style="margin-bottom: 5pt;" onblur="validacionApellidosDetalleCliente();">
  			</div>
        <div id="divCelularDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Celular</label>
					<input class="form-control" type="text" name="celularDetalleCliente" id="celularDetalleCliente"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divEmailDetalleCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>E-Mail</label>
					<input class="form-control" type="text" name="emailDetalleCliente" id="emailDetalleCliente"  style="margin-bottom: 5pt;" onblur="validacionEmail5();">
  			</div>
        <div id="divDomicilioDetalleCliente" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Domicilio</label>
					<input class="form-control" type="text" name="domicilioDetalleCliente" id="domicilioDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNumeroDomicilioDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Número domicilio</label>
					<input class="form-control" type="text" name="numeroDomicilioDetalleCliente" id="numeroDomicilioDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divTipoDomicilioDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Nro. Depto/Casa</label>
					<input class="form-control" type="text" name="tipoDomicilioDetalleCliente" id="tipoDomicilioDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divComunaDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Comuna</label>
					<input class="form-control" type="text" name="comunaDetalleCliente" id="comunaDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divCiudadDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Ciudad</label>
					<input class="form-control" type="text" name="ciudadDetalleCliente" id="ciudadDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divRegionDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Región</label>
					<input class="form-control" type="text" name="regionDetalleCliente" id="regionDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divPaisDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>País</label>
					<input class="form-control" type="text" name="paisDetalleCliente" id="paisDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divFNacDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha nacimiento</label>
					<input class="form-control" type="text" name="fNacDetalleCliente" id="fNacDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEstadoCivilDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado civil</label>
					<select disabled class="form-control custom" type="text" name="estadoCivilDetalleCliente" id="estadoCivilDetalleCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divNivelEducacionalDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Nivel educacional</label>
					<select disabled class="form-control custom" type="text" name="nivelEducacionalDetalleCliente" id="nivelEducacionalDetalleCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divCasaHabitacionalDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Casa habitacional</label>
					<select disabled class="form-control custom" type="text" name="casaHabitacionalDetalleCliente" id="casaHabitacionalDetalleCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divMotivoDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Motivo compra</label>
					<select disabled class="form-control custom" type="text" name="motivoDetalleCliente" id="motivoDetalleCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
        <div id="divProfesionDetalleCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Profesión</label>
					<input class="form-control" type="text" name="profesionDetalleCliente" id="profesionDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divInstitucionDetalleCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Institución</label>
					<input class="form-control" type="text" name="institucionDetalleCliente" id="institucionDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divActividadDetalleCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Actividad</label>
					<input class="form-control" type="text" name="actividadDetalleCliente" id="actividadDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divNacionalidadDetalleCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Nacionalidad</label>
					<input class="form-control" type="text" name="nacionalidadDetalleCliente" id="nacionalidadDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divResidenciaDetalleCliente" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>Residencia</label>
					<input class="form-control" type="text" name="residenciaDetalleCliente" id="residenciaDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divSexoDetalleCliente" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label>Sexo</label>
					<select disabled class="form-control custom" type="text" name="sexoDetalleCliente" id="sexoDetalleCliente"  style="margin-bottom: 5pt; width: 100%;">
            <option value="M">M</option>
            <option value="F">F</option>
					</select>
				</div>
        <div id="divFAltaDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha alta</label>
					<input class="form-control" type="text" name="fAltaDetalleCliente" id="fAltaDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEstadoDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado</label>
					<select disabled class="form-control custom" type="text" name="estadoDetalleCliente" id="estadoDetalleCliente"  style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>

        <!-- Datos laborales -->
        <div id="divTituloDatosLaboralesDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
          <font style="font-size: 14pt;">Datos laborales</font>
        </div>
        <div id="divEMRutDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>RUT empresa</label>
					<input class="form-control" type="text" name="EMRutDetalleCliente" id="EMRutDetalleCliente"  style="margin-bottom: 5pt;" onblur="Rut4();">
  			</div>
        <div id="divEMNombreDetalleCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Nombre empresa</label>
					<input class="form-control" type="text" name="EMNombreDetalleCliente" id="EMNombreDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMDomicilioDetalleCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Domicilio empresa</label>
					<input class="form-control" type="text" name="EMDomicilioDetalleCliente" id="EMDomicilioDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMComunaDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Comuna empresa</label>
					<input class="form-control" type="text" name="EMComunaDetalleCliente" id="EMComunaDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMCiudadDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Ciudad empresa</label>
					<input class="form-control" type="text" name="EMCiudadDetalleCliente" id="EMCiudadDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMPaisDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>País empresa</label>
					<input class="form-control" type="text" name="EMPaisDetalleCliente" id="EMPaisDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMFonoDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fono empresa</label>
					<input class="form-control" type="text" name="EMFonoDetalleCliente" id="EMFonoDetalleCliente"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divEMGiroDetalleCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Giro empresa</label>
					<input class="form-control" type="text" name="EMGiroDetalleCliente" id="EMGiroDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMFIngresoDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Fecha ingreso empresa</label>
					<input class="form-control" type="text" name="EMFIngresoDetalleCliente" id="EMFIngresoDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMAntiguedadDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Antiguedad empresa</label>
					<input class="form-control" type="text" name="EMAntiguedadDetalleCliente" id="EMAntiguedadDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMCargoDetalleCliente" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Cargo empresa</label>
					<input class="form-control" type="text" name="EMCargoDetalleCliente" id="EMCargoDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <div id="divEMRentaLiquidaDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Renta líquida empresa</label>
					<input class="form-control" type="text" name="EMRentaLiquidadDetalleCliente" id="EMRentaLiquidaDetalleCliente"  style="margin-bottom: 5pt;">
  			</div>
        <!-- Observaciones -->
        <div id="divObservacionDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Observación (máximo 2000 carácteres)</label>
					<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="observacionDetalleCliente" id="observacionDetalleCliente" maxlength="2000"></textarea>
        </div>
			</form>
      </div>
      <!-- Botones -->
			<div id="botonesDetalleCliente" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
				<div id="divEditarDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="editarDetalleCliente" id="editarDetalleCliente"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</button>
        </div>
        <div id="divGuardarDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="guardarDetalleCliente" id="guardarDetalleCliente" disabled><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
				<div id="divRegresarDetalleCliente" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="regresarDetalleCliente" id="regresarDetalleCliente"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
        </div>
			</div>
		</div>
</div>
