<div id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="lineaSuperior" class="lineMenu">

    </div>
    <div class="container-fluid">
        <div class="navbar-header col-lg-3 col-md-3">
          <a class="navbar-brand" style="margin-left: -20pt; height: 65pt;">
            <img id="imgNavbar" src="view/img/logos/inmonet_logo.png" class="col-lg-7 col-md-7 hidden-sm hidden-xs" style="width: 70pt; margin-top: 5pt; padding-left: 0; padding-right: 0;">
            <img id="imgNavbarMovil" src="view/img/logos/inmonet_logo.png" class="hidden-lg hidden-md"   style="width: 60pt; margin-left: 10pt; margin-top: -2pt;">
            <font id="datosIndicadores" class="col-lg-5 col-md-5 col-sm-6 hidden-xs" style="font-size: 8pt; text-align: left; line-height: 130%; width: 120pt;">
              <div id="usuarioIndicadores" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: -10pt;">
              </div>
              <div id="fechaIndicadores"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: -10pt;">
              </div>
              <div id="ufIndicadores"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: -10pt;">
              </div>
              <div id="versionIndicadores"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: -10pt;">
              </div>
            </font>
          </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder" style="display: none;"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <font id="datosIndicadores2" class="hidden-lg hidden-md col-sm-12 col-xs-12" style="font-size: 7pt; text-align: left; line-height: 130%; width: 100%; margin-top: -3pt; margin-bottom: 2pt;">
          <div id="usuarioIndicadores2" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: -10pt;">
          </div>
          <div id="fechaIndicadores2"  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: -10pt;">
          </div>
          <div id="ufIndicadores2"  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: -10pt;">
          </div>
          <div id="versionIndicadores2"  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: -10pt;">
          </div>
        </font>
        <div class="col-lg-9 col-md-9">
          <div class="collapse navbar-collapse navbar-menubuilder">
              <ul class="nav navbar-nav navbar-right" style="margin-right: -20pt;">
                  <li id="liHome" style="display: none;"><a  id="buttonHome" href="#/logged"><span class="glyphicon glyphicon-home iconButton"></span><br/><font style="font-size: 8pt;">Inicio</font></a>
                  </li>
                  <li id="liProyecto" class="dropdown" style="display: none;"><a id="buttonProyecto" href="" data-toggle="dropdown"><span class="fa fa-building iconButton"></span><br/><font style="font-size: 8pt;">Proyecto </font><b class="caret"></b></a>
                      <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonProyectoCrear" href="#/crearProyecto"><span class="fa fa-plus-circle">&nbsp;&nbsp;Crear proyecto</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonProyectoLista" href="#/listadoProyectos"><span class="fa fa-list">&nbsp;&nbsp;Listado de proyectos</a></li>
                      </ul>
                  </li>
                  <li id="liCliente" class="dropdown" style="display: none;"><a id="buttonCliente" href="" data-toggle="dropdown"><span class="fa fa-users iconButton"></span><br/><font style="font-size: 8pt;">Cliente </font><b class="caret"></b></a>
                      <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonClienteCrear" href="#/crearCliente"><span class="fa fa-user-plus">&nbsp;&nbsp;Crear cliente</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonClienteLista" href="#/listadoClientes"><span class="fa fa-address-card">&nbsp;&nbsp;Listado de clientes</a></li>
                      </ul>
                  </li>
                  <li id="liCotizacion" class="dropdown" style="display: none;"><a id="buttonCotizacion" href="" data-toggle="dropdown"><span class="fa fa-money iconButton iconButton"></span><br/><font style="font-size: 8pt;">Cotización </font><b class="caret"></b></a>
                      <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonCotizacionCrear" href="#/crearCotizacion"><span class="fa fa-plus-square">&nbsp;&nbsp;Crear cotización</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonCotizacionLista" href="#/listadoCotizaciones"><span class="fa fa-list-alt">&nbsp;&nbsp;Listado de cotizaciones</a></li>
                      </ul>
                  </li>
                  <li id="liReserva" class="dropdown" style="display: none;"><a id="buttonReserva" href="" data-toggle="dropdown"><span class="fa fa-calendar-check-o iconButton"></span><br/><font style="font-size: 8pt;">Reserva </font><b class="caret"></b></a>
                      <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonReservaCrear" href="#/listadoCotizacionesReserva"><span class="fa fa-plus-circle">&nbsp;&nbsp;Crear reserva</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonReservaLista" href="#/listadoReservas"><span class="fa fa-list-ol">&nbsp;&nbsp;Listado de reservas</a></li>
                      </ul>
                  </li>
                  <li id="liPromesa" class="dropdown" style="display: none;"><a  id="buttonPromesa" href="" data-toggle="dropdown"><span class="fa fa-handshake-o iconButton"></span><br/><font style="font-size: 8pt;">Promesa</font><b class="caret"></b></a>
                    <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonPromesaCrear" href="#/listadoReservasPromesa"><span class="fa fa-plus-circle">&nbsp;&nbsp;Crear promesa</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonPromesaLista" href="#/listadoPromesas"><span class="fa fa-list-ol">&nbsp;&nbsp;Listado de promesas</a></li>
                      </ul>
                  </li>
                  <li id="liEscritura" class="dropdown" style="display: none;"><a  id="buttonEscritura" href="" data-toggle="dropdown"><span class="fa fa-pencil-square-o iconButton"></span><br/><font style="font-size: 8pt;">Escritura</font><b class="caret"></b></a>
                    <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonEscrituraCrear" href="#/listadoPromesasEscritura"><span class="fa fa-plus-circle">&nbsp;&nbsp;Crear escritura</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonEscrituraLista" href="#/listadoEscrituras"><span class="fa fa-list-ol">&nbsp;&nbsp;Listado de escrituras</a></li>
                      </ul>
                  </li>
                  <li id="liGestion" class="dropdown" style="display: none;"><a  id="buttonGestion" href="" data-toggle="dropdown"><span class="fa fa-tasks iconButton"></span><br/><font style="font-size: 8pt;">Gestión</font><b class="caret"></b></a>
                    <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonVerContable" href="#/listadoContable"><span class="fa fa-calculator">&nbsp;&nbsp;Módulo Contable</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonVerComisiones" href="#/listadoComisiones"><span class="fa fa-percent">&nbsp;&nbsp;Módulo Comisiones Vendedor</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonVerComisionesListadoEmpresa" href="#/listadoComisionesEmpresa"><span class="fa fa-industry">&nbsp;&nbsp;Módulo Comisiones Empresa</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttomInformeComisiones" href="" onclick="informeComisiones();"><span class="fa fa-file-excel-o">&nbsp;&nbsp;Informe Comisiones</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonInformeGestion" href="" onclick="informeGestion();"><span class="fa fa-file-pdf-o">&nbsp;&nbsp;Informe Gestión</a></li>
                      </ul>
                  </li>
                  <li id="liUsuario" class="dropdown" style="display: none;"><a id="buttonUsuario" href="" data-toggle="dropdown"><span class="fa fa-user iconButton"></span><br/><font style="font-size: 8pt;">Usuario </font><b class="caret"></b></a>
                      <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonUsuarioCrear" href="#/crearUsuario"><span class="fa fa-user-plus">&nbsp;&nbsp;Crear usuario</a></li>
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonUsuarioLista" href="#/listadoUsuarios"><span class="fa fa-vcard-o">&nbsp;&nbsp;Listado de usuarios</a></li>
                      </ul>
                  </li>
                  <li id="liCuenta" style="display: none;" class="dropdown"><a id="buttonCuenta" href="" data-toggle="dropdown"><span class="glyphicon glyphicon-cog iconButton"></span><br/><font style="font-size: 8pt;">Cuenta </font><b class="caret"></b></a>
                      <ul class="dropdown-menu" style="margin-top: -1pt;">
                          <li><a style="height: 20pt; font-size: 9pt;" id="buttonChangePass" href=""><span class="glyphicon glyphicon-edit">&nbsp;Cambiar contraseña</a></li>
                      </ul>
                  </li>
                  <li id="liAyuda" style="display: none;"><a  id="buttonAyuda" href="" onclick="modalAyuda();"><span class="fa fa-question-circle iconButton"></span><br/><font style="font-size: 8pt;">Ayuda</font></a>
                  </li>
                  <li id="liSalir" style="display: none;"><a  id="buttonLogout" href="#/home"><span class="glyphicon glyphicon-log-out iconButton"></span><br/><font style="font-size: 8pt;">Salir</font></a>
                  </li>
              </ul>
          </div>
        </div>
    </div>
</div>
